{% extends 'base.html' %}

{% block content %}
<h1>You Made It {{ user.first_name }}!</h1>

<div class="card mt-5">
    <div class="card-header">
        {{ user.username }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
        <p class="card-text">Email: {{ user.email }}</p>
        <form method="POST" action="/users/{{user.username}}/delete">
            {{ form.hidden_tag() }}
            <a href="/logout" class="btn btn-secondary">Logout</a>
            <button class="btn btn-outline-danger mx-3">Delete User</button>
        </form>
    </div>
</div>

<div class="my-5">
    <h3>Feedback</h3>
    <a href="/users/{{user.username}}/feedback/add" class="btn btn-outline-primary">Add Feedback</a>

    {% for feedback in user.feedback %}

    <div class="card w-100 mt-4">
        <div class="card-body">
            <h5 class="card-title"><b>{{ feedback.title }}</b></h5>
            <p class="card-text">
                {{ feedback.content }}
            </p>
            <a href="/feedback/{{feedback.id}}/update" class="card-link">Edit</a>
        </div>
    </div>

    {% endfor %}

</div>


{% endblock %}